.header{
    display: flex;
    margin-top: 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
  }

.header-left{
    display: flex;
    align-items: center;

}
.header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 80vh;
}
.header-left > p{
   margin: 5vh;
    font-size: 3vh;
}
.header-right > p{
   
    font-size: 3vh;
}
.google-logo{
  margin-top: 7vh;
    height: 15vh;
    width: 40vh;
    margin-right: 9vh;
}